In [3]:
#Data Set Nintendo

import pandas as pd

url ='C:\Users\fabio_zph9j2v\OneDrive\Documentos\Coderhouse\data-science\\Video_Games.csv'
df = pd.read_csv(url, index_col=0)
df.head()

,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
Name,,,,,,,,,,,,,,,
Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#Tamaño del df
num_filas, num_columnas = df.shape

print(f'Número de filas: {num_filas}')
print(f'Número de columnas: {num_columnas}')

Número de filas: 16719
Número de columnas: 15

In [8]:
## Mis variables de interes:
### Platform Year_of_Release Genre Publisher NA_Sales EU_Sales JP_Sales Other_Sales Global_Sales
## Aqui seria para hacer una comparacion de ventas entre las tres regiones del mundo mas furtes en los videojuegos de Nintendo
## y encontrar la relacion entre esas ventas y el genero del juego.

In [8]:
#Data set FIFA

url ='C:\Users\fabio_zph9j2v\OneDrive\Documentos\Coderhouse\data-science\\fifa_ranking.csv'
dfFIFA = pd.read_csv(url, index_col=0)
dfFIFA.head()

,country_full,country_abrv,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,confederation,rank_date
rank,,,,,,,,,,,,,,,
1,Germany,GER,0.0,57,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
2,Italy,ITA,0.0,57,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
3,Switzerland,SUI,0.0,50,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
4,Sweden,SWE,0.0,55,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
5,Argentina,ARG,0.0,51,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CONMEBOL,1993-08-08

In [9]:
#Tamaño del dfFIFA
num_filas, num_columnas = dfFIFA.shape

print(f'Número de filas: {num_filas}')
print(f'Número de columnas: {num_columnas}')

Número de filas: 57793
Número de columnas: 15

In [ ]:
## Mis variables de interes:
### country_abrv total_points previous_points rank_change cur_year_avg last_year_avg two_year_ago_avg three_year_ago_avg confederation
## Aqui seria ver como varia el ranking de paises de FIFA desde hace tres anos hasta el presente y que confederaciones estan en el top con mas frecuencia.

In [6]:
#Data set NBA

url ='C:\Users\fabio_zph9j2v\OneDrive\Documentos\Coderhouse\data-science\\NBASeasonData.csv'
dfNBA = pd.read_csv(url, index_col=0)
dfNBA.head()

,Tm,Player,Age,G,MP,PER,TS%,3PAr,FTr,ORB%,...,D-WORP,Adjusted WORP,Estimated Position,BBRef Pos,Age on Feb 1,Yrs Experience,Height,Weight,Rounded Position,Rounded Age
Year,,,,,,,,,,,,,,,,,,,,,
1978,NOJ,Truck Robinson,26,82,3638,15.7,0.481,NaN,0.340,8.0,...,1.1,1.1,3.6,4.0,26.33,3.0,79.0,225.0,4.0,26.0
1978,BUF,Randy Smith,29,82,3314,19.1,0.521,NaN,0.326,3.6,...,-2.3,7.4,1.0,2.0,29.14,6.0,75.0,180.0,1.0,29.0
1978,WSB,Elvin Hayes,32,81,3246,17.1,0.489,NaN,0.365,10.2,...,3.4,6.5,4.2,4.0,32.21,9.0,81.0,235.0,4.0,32.0
1978,BOS,Dave Cowens,29,77,3215,18.6,0.533,NaN,0.233,8.0,...,6.1,12.5,3.9,5.0,29.27,7.0,81.0,230.0,4.0,29.0
1978,NYK,Bob McAdoo,26,79,3182,22.0,0.567,NaN,0.412,7.8,...,2.6,10.6,3.6,5.0,26.36,5.0,81.0,210.0,4.0,26.0

In [7]:
#Tamaño del dfFIFA
num_filas, num_columnas = dfNBA.shape

print(f'Número de filas: {num_filas}')
print(f'Número de columnas: {num_columnas}')

Número de filas: 17729
Número de columnas: 108

In [1]:
## Mis variables de interes:
### Year Tm Player Age G MP PER TS% 3PAr FTr ORB% DRB% TRB% AST% STL% BLK% TOV% MPG Shot% Defense Offense TrueSalary Estimated_Position BBRef_Pos Age_on_Feb_1 Yrs_Experience Height Weight
## Aqui seria ver mas en detalle las estadisticas de cada jugador de la liga, a lo largo de los anos,
## ver tambien su contribucion en relacion al equipo y observar como evoluciona de temporada tras temporada.